/* ===================
======google fonts===== 
====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* ===================
======Common Styling===== 
====================*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1050px;
    margin: auto;
}
.link_style {
    background: #E02C6D;
    padding: 5px 15px;
    border-radius: 5px;
}
.link_style:hover {
    background: linear-gradient(#9c88ff,#4cd137,#e1b12c);
}
#header_area {
    background: #2D25A0;
    overflow: hidden;
}

/* ===================
======Nav Area Styling===== 
====================*/
.nav_area_contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_area_contant ul {
    list-style: none;
}
.nav_area_contant ul li {
    display: inline-block;
    margin-right: 20px;
}
.nav_area_contant ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.nav_area_contant i {
    margin-right: 10px;
    font-size: 16px;
}

/* ===================
======Header Contat Styling===== 
====================*/
.header_contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.header_detail h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}
.header_detail a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.header_detail a i {
    margin-left: 20px;
}
.header_img img {
    width: 556.01px;
}

/* ===================
======Player Area Styling===== 
====================*/
.player_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    grid-gap: 25px;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
}
.single_player {
    width: 330px;
    height: 570px;
    box-shadow: 10px 10px 20px gray;
    padding: 20px;
    border-radius: 7px;
}
.player_img img {
    width: 100%;
    border-radius: 5px;
}
.player_bio p {
    color: #6C6C6C;
}
