/* ===================
======google fonts===== 
====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* ===================
======Common Styling===== 
====================*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1050px;
    margin: auto;
}
.link_style {
    background: #E02C6D;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}
.link_style:hover {
    background: linear-gradient(#9c88ff,#4cd137,#e1b12c);
}
/* ===================
======Nav Area Styling===== 
====================*/
#nav_area {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #2D25A0;
}
.nav_area_contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_area_contant ul {
    list-style: none;
}
.nav_area_contant ul li {
    display: inline-block;
    margin-right: 20px;
}
.nav_area_contant ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.nav_area_contant i {
    margin-right: 10px;
    font-size: 16px;
}

/* ===================
======Header Contat Styling===== 
====================*/
#header_area {
    background: #2D25A0;
    overflow: hidden;
    margin-bottom: 50px;
}
aside.container {
    margin-top: 110px;
}
.header_contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.header_detail h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}
.header_detail a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.header_detail a i {
    margin-left: 20px;
}
.header_img img {
    width: 556.01px;
}
.header_img:hover img {
    transform: rotate(45deg);
    transition: transform 1s ease-in-out;
}

/* ===================
======Player Area Styling===== 
====================*/
.player_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    grid-row-gap: 25px;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
}
.single_player {
    width: 290px;
    height: 570px;
    box-shadow: 7px 7px 15px gray;
    padding: 20px;
    border-radius: 7px;
    
    overflow: hidden;
}
.player_img img {
    width: 100%;
    border-radius: 5px;
}
.player_img:hover img {
    transform: scale(1.2);
    transition: transform 1.5s ease-in-out .2s;
    cursor: pointer;
}
.player_bio p {
    color: #6C6C6C;
    text-align: justify;
}
/* ============================
======Highlight Area Styling===== 
================================*/
#highlight_area {
    margin: 100px 0px;
}
.highlight_wrapper {
    display: flex;
    justify-content: space-between;
}
.highlight_content h1 {
    font-size: 48px;
    font-weight: 700;
}
.highlight_content p {
    color: #6C6C6C;
    margin-bottom: 30px;
    text-align: justify;
}
.highlight_content i {
    margin-left: 20px;
}
.highlight_img img {
    width: 567px;
    border-radius: 5px;
    margin-left: 90px;
}
.highlight_img:hover img {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    cursor: pointer;
}
/* ===========================
======Footer Area Styling===== 
=============================*/
#footer_area {
    margin: 50px 0px;
}
.footer_area_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_logo img {
    width: 483.87px;
}
.social_area i {
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    background: #969BAB;
    color: #ddd;
    padding: 7px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;

}
.social_area i:hover {
    background: #487eb0;
    color: #fff;
    cursor: pointer;
}
.copyright p {
    color: #000000;
    font-size: 18px;
}
/* ============================
======Winners Area Styling===== 
================================*/
#winner {
    margin: 120px 0px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 7px;
}
#winner span {
    color: #079992;
}
#winner h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
}
.winner_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.single_team {
    padding: 30px;
}
.single_team img {
    width: 250px;
    border-radius: 7px;
}
.score p {
    font-size: 24px;
    font-weight: 700;
}
p.final {
    text-align: center;
    font-size: 30px;
    color:lightskyblue;
}

/* ============================
===========Responsive========== 
================================*/

@media only screen and (max-width: 767px) {
    /* nav area  */
    .nav_area_contant {
        flex-direction: column;
    }
    /* header area  */
    .container {
        width: 100%;
    }
    .header_contant {
        flex-direction: column;
        align-items: center;
    }
    .header_img {
        margin-top: 50px;
    }
    /* player area  */
    .player_wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        align-content: center;
    }

    /* highlight are  */
    .highlight_wrapper {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .highlight_content {
        margin-bottom: 50px;
    }
    
    /* winners area  */

    .winner_area {
        flex-direction: column;
        align-items: center;
    }

    }
